h2.book-appointment-heading {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 42px;
}

section.appointment-section {
    background-color: black;
    padding-top: 15%;
    padding-bottom: 10%;
    margin-top: -11%;
}

.selected-date {
    border: 2px solid red !important;
}

.selected-time {
    border: 2px solid red !important;
}

button.date-button:disabled {
    background-color: #808080 !important;
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3)) !important;
    border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3)) !important;
}

button.date-button {
    background-color: #1f1f1f !important;
    border: 1px solid #1f1f1f !important;
    color: white !important;
    width: 12%;
}

button.time-button {
    background-color: #1f1f1f !important;
    border: 1px solid #1f1f1f !important;
    color: white !important;
    width: 100px;
}

@media (max-width: 600px) {
    section.appointment-section {
        padding-top: 53%;
        margin-top: -49%;
    }

    .time-options {
        width: 100% !important;
    }

    .date-button-div {
        width: 100% !important;
    }

    button.date-button {
        width: 45%;
    }
}